In [2]:
!conda install -c conda-forge wikipedia -y

Collecting package metadata: done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - wikipedia


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.6.7                |           py36_0         869 KB  conda-forge
    openssl-1.1.1b             |       h14c3975_0         4.0 MB  conda-forge
    wikipedia-1.4.0            |           py36_0          19 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         4.8 MB

The following NEW packages will be INSTALLED:

  wikipedia          conda-forge/linux-64::wikipedia-1.4.0-py36_0

The following packages will be UPDATED:

  conda                                        4.6.4-py36_0 --> 4.6.7-py36_0
  openssl                              1.1.1a-h14c3975_1000 --> 1.1.1b-h14c3975_0



Downloading and Extracting Packages
wikipedia-1.4.0      | 19 KB     | ##################################### | 100%
conda-4.6.7          | 869 KB    | ##################################### | 100%
openssl-1.1.1b       | 4.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## Installing Libraries
#### !conda install -c conda-forge wikipedia -y

#### !conda install -c conda-forge/label/cf201901 wikipedia -y

In [5]:
!conda install -c conda-forge/label/cf201901 wikipedia -y

Collecting package metadata: done
Solving environment: done

# All requested packages already installed.

### Imported Libraries

In [6]:
import pandas as pd
import wikipedia as wp

### __Getting the source file from Wiki__
__Showing the data frame__

In [37]:
html = wp.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

__Dropped "Not Assigned" values from Borough__

In [38]:
import numpy as np
df=df[df['Borough']!='Not assigned']
df = df.reset_index(drop=True)
df.shape
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

__Popoulated value from Borough to Neighbourhood where Neighbourhood has a value of Not assigned__

In [43]:
#df=df.groupby(df['Postcode'])
#df.head(5)
for index, row in df.iterrows():
       if(row['Neighbourhood']=='Not assigned'):
            row['Neighbourhood']=row['Borough']
df.head()

#df=df.replace({df['Neighbourhood']:'Not assigned'},df['Borough'],regex=True)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

__Removed Duplicates for PostCode and Merged Neighbourhood__

In [46]:
df=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

## Showing the Shape

In [30]:
df.shape

(103, 3)